.scroll-wrapper{
    display: flex;
    flex-direction: column;
    width: 100dvw;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;

    background: rgb(6,84,171);
    background: linear-gradient(180deg, rgba(6,84,171,1) 0%, rgba(0,212,255,1) 53%);
    /* background: rgb(6,84,171);
    background: linear-gradient(180deg, rgba(6,84,171,1) 0%, rgba(0,212,255,1) 44%, rgba(0,204,47,1) 100%); */
}

.scene{
    width: 100%;
    height: 100vh;
    scroll-snap-align: start;
    position: relative;
}

.opening-scene{
    height: 120vh;
}

#canvas{
    width: 100%;
    height: 100%;
    display: block;
}