html, body, #root{
    width: 100dvw;
    overflow-x: hidden;

    margin: 0;
    padding: 0;
    scroll-snap-type: y mandatory;
}

Canvas#canvas{
    width: 100%;
    height: 100%;
    display: block;
}

h1{
    font-size: 5rem;
    width: 50dvw;
    margin: 0;
}


@media(max-width: 768px) {
    h1{
        width: 80dvw;
        font-size: 2.5rem;
    }
}
/* Compare this snippet from src/components/CloudScene.css: */