@use '../../../../../styles/base/index' as *;

.story-section{
    min-height: 50dvh;

    &--filter-wrapper{
        margin: 32px 0;
        display: flex;
        gap: 24px;

        &--filter-button{
            border: none;
            background-color: var(--widget-color);
            
            padding: 10px 60px;
            border-radius: 12px;
            // box-shadow: var(--widget-box-shadow);

            font-family: var(--title-font-family);

            cursor: pointer;
        }
    }
}