@use 'reset' as *;
@import 'https://fonts.googleapis.com/css2?family=Bungee&display=swap';

:root{
    --title-font-family: "Bungee";
    --title-font-weight: 400;

    --main-font-color: #1d1d1b;
    --title-font-color: #E51131;
    --background-color: #fff;

    --title-margin: 24px 0;
    --smaller-title-margin: 16px 0;
}

body{
    font-family: "Helvetica Neue";

    width: 100dvw;

    background-color: var(--background-color);
    color: var(--main-font-color);
}

.outer-wrapper{
    max-width: 90%;
    margin: 0 5%;
}


h1{
    font-size: 48pt;
    font-family: var(--title-font-family);
    font-weight: var(--title-font-weight);
    color: var(--title-font-color);

    margin: var(--title-margin);
}
h2{
    font-size: 32pt;
    font-family: var(--title-font-family);
    font-weight: var(--title-font-weight);
    color: var(--title-font-color);

    margin: var(--title-margin);
}
h3{
    font-size: 24pt;
    font-family: var(--title-font-family);
    font-weight: var(--title-font-weight);

    margin: var(--smaller-title-margin);
}
h4{
    font-size: 16pt;
    font-family: var(--title-font-family);
    font-weight: var(--title-font-weight);

    margin: var(--smaller-title-margin);
}

@media(min-width:1640px){
    .outer-wrapper{
        max-width: 1520px;
        margin: 0 auto;
    }
}